body{
	background-color: orange;
}

#road{
	border-bottom: 7px dotted black;  /*solid,dotted,rigid*/
}

#runner{
	background: url("capguy-walk.png");
	width: 76px;
	height: 132px;
	animation: walk 1s steps(8) infinite,
					forward 4s linear infinite;
}

@keyframes walk{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 600px;
	}
}

@keyframes forward{
	0%{
		transform: translateX(-100px);
	}

	100%{
		transform: translateX(1800px);
	}

}
